a,
button {
  font-size: var(--btn-font-size-base, 1rem);
}

a.btn {
  text-decoration: none;
}

.btn__icon {
  // You may wish to have your icons appear larger
  // or smaller in relation to the text
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  margin-right: 0.5em;
  &--end {
    margin-right: 0;
    margin-left: 0.5em;
  }
}

// Base button styles
.btn {
  // Reset
  text-decoration: none;
  border: none;
  font-family: inherit;
  cursor: pointer;

  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // Optional - see "Gotchas"
  // align-self: start;

  // Visual
  background-color: var(--color-btn-base, blue);
  color: var(--color-text-base, white);
  border-radius: var(--btn-radius);
  box-shadow: var(--shadow-4);

  // Size
  &:not(.icon-btn) {
    padding: var(--space-wide-s);
    min-width: 10ch;
    min-height: 1.2em;
  }

  // Text
  text-align: center;
  line-height: 1.1;

  transition: 200ms all ease-in-out;

  &:hover,
  &:active {
    filter: brightness(0.96);
  }

  &:focus {
    outline-style: solid;
    box-shadow: var(--shadow-8);
  }

  &--sm {
    font-size: var(--btn--font-size-sm, 0.8rem);
  }
  &--md {
    font-size: var(--btn--font-size-md, 1rem);
  }
  &--lg {
    font-size: var(--btn--font-size-lg, 1.2rem);
  }
}

button.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

a.btn,
button.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // align-self: start; // Optional - see "Gotchas"

  // Visual
  background-color: $primary-cta-background-color;
  color: $primary-cta-text-color;
  border-radius: var(--btn-radius);
  box-shadow: var(--shadow-4);

  // Size
  padding: var(--space-wide-s);
  min-width: 8ch;
  min-height: 1em;

  // Text
  text-align: center;
  line-height: 1.1;

  transition: 200ms all ease-in-out;

  &:hover,
  &:active {
    filter: brightness(0.8);
  }
  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: var(--shadow-8);
  }
  &--sm {
    font-size: var(--btn--font-size-sm, 0.8rem);
  }
  &--md {
    font-size: var(--btn--font-size-md, 1rem);
  }
  &--lg {
    font-size: var(--btn--font-size-lg, 1.2rem);
  }
  &--block {
    width: 100%;
  }
}

.icon-btn {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  padding: 0.2em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 1em;
    height: 1em;
    fill: none;
    stroke: currentColor;
  }
}
