a,
button {
  font-size: var(--font-size-base, 1rem);
}

a.btn {
  text-decoration: none;
}

.btn__icon {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: currentColor;
  margin-right: 0.5em;
  &--end {
    margin-right: 0;
    margin-left: 0.5em;
  }
}

// Base button styles
.btn {
  // Reset
  text-decoration: none;
  border: none;
  font-family: inherit;
  cursor: pointer;

  // Display
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // Optional - see "Gotchas"
  // align-self: start;

  // Visual
  background-color: $primary-cta-background-color;
  color: $primary-cta-text-color;
  border-radius: $border-radius-sm;
  box-shadow: var(--shadow-4);

  // Size
  &:not(.icon-btn) {
    padding: 0.5em 0.75em;
    min-width: 8ch;
    min-height: 1.2em;
  }

  // Text
  text-align: center;
  line-height: 1.1;
  text-transform: uppercase;

  transition: $transition-15 all ease-in-out;

  &:hover,
  &:active {
    filter: brightness(0.96);
  }

  &:focus {
    outline-style: solid;
    box-shadow: var(--shadow-8);
  }

  &--sm {
    font-size: var(--font-xs, 0.8rem);
  }
  &--md {
    font-size: var(--font-sm, 1rem);
  }
  &--lg {
    font-size: var(--font-md, 1rem);
  }
  &--xl {
    font-size: var(--font-lg, 1.8rem);
  }
}

button.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

a.btn,
button.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // align-self: start; // Optional - see "Gotchas"

  // Visual
  background-color: $primary-cta-background-color;
  color: $primary-cta-text-color;
  border-radius: $border-radius-sm;
  box-shadow: var(--shadow-4);

  // Size
  padding: 0.2em;
  // min-width: 8ch;
  // min-height: 1em;

  // Text
  text-align: center;
  line-height: 1;
  text-transform: uppercase;

  transition: $transition-15 all ease-in-out;

  &:hover,
  &:active {
    filter: brightness(0.8);
  }
  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: var(--shadow-8);
  }
  &--sm {
    font-size: var(--font-xs, 0.8rem);
  }
  &--md {
    font-size: var(--font-xs, 1rem);
  }
  &--lg {
    font-size: var(--font-sm, 1rem);
  }
  &--xl {
    font-size: var(--font-xxl, 1.8rem);
  }
  &--block {
    width: 100%;
  }
  &--secondary {
    background-color: $secondary-cta-background-color;
    color: $secondary-cta-text-color;
  }
  &--success {
    background-color: $kellygreen-500;
    color: $secondary-cta-text-color;
  }
}

.icon-btn {
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  // padding: 0.2em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 1.2em;
    height: 1.2em;
    fill: none;
    stroke: currentColor;
  }
}
