i {
  --icon-size-s: 1.25em;
  --icon-size-m: 1.5em;
  --icon-size-l: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  &.m {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
  }
}
