:root {
  // Size
  --size-xxs: $size-xxs;
  --size-xs: $size-xs;
  --size-s: $size-s;
  --size-m: $size-m;
  --size-l: $size-l;
  --size-xl: $size-xl;

  // Border radius
  --border-radius-s: $border-radius-sm;
  --border-radius-m: $border-radius-md;
  --border-radius-l: $border-radius-lg;
}
