@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
// https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd

:root {
  // Body font size
  --font-size-base: 1rem;

  // Font scale
  --font-scale-ratio: 1.125;
  --font-xs: calc(var(--font-size-base) / var(--font-scale-ratio) / var(--font-scale-ratio));
  --font-sm: calc(var(--font-xs) * var(--font-scale-ratio));
  --font-md: calc(var(--font-sm) * var(--font-scale-ratio));
  --font-lg: calc(var(--font-md) * var(--font-scale-ratio));
  --font-xl: calc(var(--font-lg) * var(--font-scale-ratio));
  --font-xxl: calc(var(--font-xl) * var(--font-scale-ratio));
  --font-xxxl: calc(var(--font-xxl) * var(--font-scale-ratio));

  // Line height
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  text-rendering: geometricPrecision;
}

// @include breakpoint(md) {
//   :root {
//     --font-size-base: 1.25rem;
//     --font-scale-ratio: 1.25;
//   }
// }

body {
  font-size: var(--font-size-base, 1rem);
  font-family: $main-font;
  color: $primary-text-color;
}

h1,
h2,
h3,
h4,
form legend {
  color: $primary-text-color;
  // margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
  font-size: var(--font-xxxl);
}

h1,
.text--xxl {
  font-size: var(--font-xxl);
}

h2,
.text--xl {
  font-size: var(--font-xl);
}

h3,
.text--lg {
  font-size: var(--font-lg);
}

h4,
.text--md {
  font-size: var(--font-md);
}

.text--sm,
small {
  font-size: var(--font-sm);
}

.text--xs {
  font-size: var(--font-xs);
}

p {
  line-height: var(--body-line-height);
}

a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link-visited);
  }
}

b,
strong {
  font-weight: bold;
}

.text-container {
  h2,
  h3,
  h4 {
    margin-top: var(--space-sm);
  }

  ul,
  ol,
  p {
    margin-bottom: var(--space-md);
  }

  ul,
  ol {
    list-style-position: outside;
    padding-left: 24px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul li,
  ol li {
    line-height: var(--body-line-height);
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }
}

/* utility classes */
.truncate {
  // truncate text if it exceeds parent
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
