// *******************************
// CH01 - Color Variables
// CH02 - Breakpoint Variables
// *******************************

// *******************************
// CH01 - Color Variables
// *******************************

:root {
  // Icons
  --theme-icon-size-s: 1.25em;
  --theme-icon-size-m: 1.5em;
  --theme-icon-size-l: 2.25em;
  // Size
  --theme-size-xs: 1.625rem; // 26px
  --theme-size-s: 1.875rem; // 30px
  --theme-size-m: 2.25rem; // 36px
  --theme-size-l: 2.75rem; // 44px
  --theme-size-xl: 3.5rem; // 56px

  // Border radius
  --theme-border-radius-s: 0.2em;
  --theme-border-radius-m: 0.25em;
  --theme-border-radius-l: 0.5em;
}

// *******************************
// CH02 - Breakpoint Variables
// *******************************

$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;
$brakepoint-desktop: 1024px;
