// *******************************
// CH01 - System Shell
// CH02 - App Shell
// *******************************

// *******************************
// CH01 - System Shell
// *******************************

system-shell {
  height: 100vh;
  width: 100vw;
}

// *******************************
// CH02 - App Shell
// *******************************

app-shell {
  height: 100%;
  width: 100%;
}

app-taskbar {
  height: $size-l;
  min-height: $size-l;
}

ui-statusbar-connected {
  height: $size-xxs;
}

app-shortcuts {
  width: $size-l;
  min-width: $size-l;
}
