// *******************************
// CH01 - System Shell
// CH02 - App Shell
// *******************************

// *******************************
// CH01 - System Shell
// *******************************

system-shell {
  height: 100vh;
  width: 100vw;
}

// *******************************
// CH02 - App Shell
// *******************************

app-shell {
  height: 100%;
  width: 100%;
}
