action-center {
  width: 25%;
  border-left: 0.01em solid var(--theme-color-base-100);
  background-color: var(--theme-color-base-110);
  button {
    margin: 4px;
  }
  @include media('>phone', '<=tablet') {
    // width: 50%;
    background-color: var(--theme-color-accent-110);
  }
}
