app-shell {
  display: flex;
  flex-direction: column;
  // background-color: $layout-background-color;

  main {
    display: flex;
    flex-direction: row;
    flex: 1;
    // background-color: $layout-background-color;
    /* height: 100%; */
  }
  ui-statusbar-connected {
    background-color: $layout-background-color;
    border-top: $layout-border;
  }
}
