app-shortcuts {
  --color-base: var(--theme-color-base);
  --color-primary-1d: var(--theme-color-primary-1d);
  --color-primary-2d: var(--theme-color-primary-2d);
  --color-primary-3d: var(--theme-color-primary-3d);
  --color-primary-4d: var(--theme-color-primary-4d);
  --color-primary-10d: var(--theme-color-primary-10d);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--theme-size-l);
  min-width: var(--theme-size-l);
  border-right: 0.01em solid var(--color-primary-4d);
  background-color: var(--color-base);
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--theme-size-l);
    width: var(--theme-size-l);
    /* border: 0.01em solid var(--theme-color-primary-3d, red); */
    box-sizing: border-box;
    .icn:hover {
      background-color: var(--color-primary-2d);
    }
    svg {
      // fill: var(--color-primary-10d);
      stroke: var(--color-primary-10d);
    }
  }
}
