app-shortcuts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $layout-background-color;
  border-right: $layout-border;
  .icon {
    height: auto;
    width: $size-l;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
  }
}
