app-taskbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $layout-background-color;
  border-bottom: $layout-border;

  div {
    height: 100%;
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    &.left {
      .launcher {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: $size-l;
      }
      @include media('>phone', '<=tablet') {
        h2 {
          display: none;
        }
      }
    }
    &.middle {
      flex: 1;
      justify-content: center;
      & .fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    &.right {
      align-items: center;
      justify-content: center;
    }
  }
}
