main-launcher {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: $size-l;
  left: 1rem;
  background-color: $layout-background-color;
  color: $primary-text-color;
  box-shadow: var(--shadow-64);
  height: calc(100% - #{$size-l} - 1rem);
  width: 320px;
  border-radius: $border-radius-sm;
  // border: 3px solid dodgerblue;
  z-index: 1;
  padding: 1.5em 1em;
  .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $size-xxl;
    width: 100%;
    padding: 8px 16px;
    box-shadow: var(--shadow-8);
    background-color: $layout-background-color;
    border-radius: $border-radius-sm;
    &:hover {
      box-shadow: var(--shadow-16);
    }
    ui-avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      // border: 1px solid dodgerblue;
      box-shadow: var(--shadow-8);
      font-size: var(--font-lg, 1.25rem);
      line-height: 1;
      font-weight: $font-weight-3;
      user-select: none;
    }
    .credentials {
      flex: 1;
      margin: 0 16px;
      height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 14px;
      .username {
        font-weight: $font-weight-2;
        line-height: 20px;
        text-transform: uppercase;
        color: $primary-text-color;
      }
      .account-type {
        font-weight: $font-weight-1;
        line-height: 20px;
        color: $primary-text-color;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-size: var(--font-md, 0.9375rem);
    font-weight: $font-weight-2;
    nav-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-height: $size-l;
      transition: filter 200ms;
      background-color: $layout-background-color;
      cursor: pointer;
      border-radius: $border-radius-sm;
    }

    nav-item:hover {
      // background-color: var(gray, --theme-color-base-90);
      filter: brightness(0.96);
      // box-shadow: var(--theme-shadow-8);
    }

    nav-item-title {
      margin: 0 1rem;
      width: auto;
      color: $primary-text-color;
      pointer-events: none;
    }
  }

  app-flyout {
    background-color: $layout-background-color;
    color: $primary-text-color;
    position: absolute;
    left: 98%;
    width: auto;
    border-radius: $border-radius-sm;
    box-shadow: var(--shadow-8);
    font-size: var(--font-sm, 0.8125rem);
    padding: 0.5em 0;
    div {
      display: flex;
      height: $size-s;
      font-weight: $font-weight-2;
      align-items: center;
      p {
        padding: 0.5em 1em;
      }
    }
  }

  @include media('>phone', '<=tablet') {
    width: calc(100% - 9rem);
    height: calc(100% - 16rem);
  }

  sign-in,
  sign-up {
    width: 100%;
  }
}
